* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(./files/backgroundMario.jpeg);
    background-position: bottom;
    background-repeat: repeat-x;
    text-align: center;
    height: 100vh;
    overflow: hidden;
  }
  
  header img {
    padding: 20px;
  }
  
  .selectPlayer {
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    margin-top: 20px;
    color: white;
    text-shadow: black 2px 2px 5px;
  }
  
  button {
    margin-top: 250px;
    font-size: xx-large;
    background-color: rgb(39, 164, 54);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
  }
  
  .car-section {
    text-align: left;
    position: absolute;
    bottom: 105px;
  }
  
  .car-section div {
    width: 150px;
    height: 150px;
    background-image: url(./files/selectPlayer.png);
    background-size: cover;
  }
  
  .alternative-car1 {
    background-image: url(./files/yoshi.png);
  }
  
  .alternative-car2 {
    background-image: url(./files/peach.png);
  }
  
  .alternative-car3 {
    background-image: url(./files/mario.png);
  }
  
  .alternative-car4 {
    background-image: url(./files/luigi.png);
  }
  
  .alternatives {
    margin-top: 20px;
  }
  
  .selected {
    border: 8px outset red;
    background-color: rgba(255, 174, 0, 0.5);
  }
  
  .small {
    font-size: 20px;
  }
  
  .scorePlayer {
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 5px;
  }
  
  .scorePlayer p {
    font-size: 35px;
    margin-top: 10px;
  }
  